* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    --blanco: #faf3e0;
    --verde :#58744B;
    --cafe: #42251F;
    --verde-oscuro : #466038;
    --verde-oscuro-1: #3A4D37;
    --verde-oscuro-2: #2F3B2C;
}

/* 
Fuentes para texto
PT Sans: Parrafos
Open Sans: Titulos */

.barra-informacion{
    width: 100%;
    height: 5vh;
    background-color:var(--blanco);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--verde);
    display: flex;
    align-items: center;
}

.informacion-contacto{
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-right: 4px;
}

.informacion-contacto > div > i{
    font-size: 18px;
    padding-left: 2px; padding-right: 2px;
}

.informacion-contacto > div{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: clamp(0.6rem, 0.68vw, 0.95rem);
    font-family: "Montserrat";
    color: var(--verde);
}

.informacion-contacto > div > b{
    margin-right: 6px;
}

.informacion-contacto > div > a{
    text-decoration: none;
    font-size: clamp(0.6rem, 0.68vw, 0.95rem);
    font-family: "Montserrat";
    color: var(--verde);
}

.informacion-contacto > div > a > i{
    padding-left: 2px; padding-right: 2px;
}

h1{
    font-size: clamp(0.6rem, 1vw, 0.9rem);
    font-family: "Open Sans";
    color: var(--verde);
    padding-left: 1%;
    padding-right: 1%;
}

.index-carrusel{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.vista-carrusel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.overlay{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 0 , 0, 0.76);
    position: absolute;
    z-index: 500;
}

.vista-carrusel.mostrar{
    opacity: 1;
}

.vista-carrusel > img{
    width: 100%;
    height: 100%;
}

.texto-carrusel{
    position: absolute;
    padding-left: 8%;
    bottom: 0;
    width: 70%;
    min-height: 25vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    z-index: 600;
    background-color: var(--blanco);
    border-top-right-radius: 80px;
}

.texto-carrusel > h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(1.2rem, 4vw, 3rem);
    color: var(--verde);
    font-weight: 800;
}

.texto-carrusel > p{
    font-family: "Rubik", sans-serif;
    font-size: clamp(1rem, 1.2vw, 2rem);
    padding-right: 10%;
    padding-left: 0.5%;
    color: var(--verde-oscuro-2);
    font-weight: 700;
}


.navbar{
    position: absolute;
    top: 5%;
    z-index: 1000;
    width: 100%;
    height: 20vh;
    display: flex; 
    align-items: center;
    padding: 2%;
    background-color: rgba(47, 59, 44, 0.9);
    border-bottom: 4px solid var(--verde);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
}

@media (max-width: 480px){
    .logo{
        margin-left: 20px;
    }

}

.logo > img {
    width: 60px;
    height: auto;
}

@media (min-width:800px){
    .logo > img{
        width: 120px;
    }
}

.primer-parrafo-logo{
    text-align: center;
    font-family: "Montserrat";
    font-size: clamp(1rem, 1.7vw, 1.4rem);
    font-weight: 600;
    color: var(--verde);
}

.segundo-parrafo-logo {
    text-align: center;
    font-family: 'Montserrat';
    font-size: clamp(0.6rem, 1vw, 1rem);
    white-space: none;
    font-weight: 600;
    color: var(--blanco);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu{
    display: flex;
    margin-left: auto;
    gap: 1.2rem;
    list-style: none;
}

.menu-desplegable{
    margin-left: auto;
    display: none;
    position: relative;
}

#boton-menu{
    margin-left: auto;
    width: 200px;
    height: 30px;
    border: none;
    font-family: "Montserrat";
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 600;
    border-bottom: 2px solid var(--blanco);
    color: var(--verde);
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0);
}

.acordeon-menu{
    overflow: hidden;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;
    max-height: 0;
    transition: max-height 0.1s ease-in-out;
}

@media (max-width: 380px) {
    #boton-menu{
        width: 160px;
    }

    .acordeon-menu{
        width: 160px;
    }
}

.acordeon-menu > div {
    background-color: var(--blanco);
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.acordeon-menu > div > img{
    width: 26px;
    height: auto;
}

.acordeon-menu > div > i{
    font-size: larger;
    color: var(--verde);
}

.acordeon-menu > div > a{
    text-decoration: none;
    font-family: "Montserrat";
    font-size: clamp(0.8rem, 1.4vw, 2rem);
    padding: 0 4px 0 4px;
    color: var(--verde);
    font-weight: 600;
}

.navbar > ul > li > a{
    all: unset;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.navbar > ul > li > a:hover{
    color: var(--verde);
}

.navbar > ul > li{
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--blanco);
    font-size: clamp(0.4rem, 1.2vw, 1.08rem);
}

.ocultar{
    display: none;
}

.show{
    display: block;
}

#nosotros{
    min-height: 100vh;
    background-color: var(--blanco);
}

.row-1-nosotros{
    overflow: hidden;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.row-1-nosotros > h3{
    font-size: clamp(1rem, 4vw, 2.6rem);
    font-family: 'Montserrat';
    font-weight: 800;
    padding: 20px;
    text-align: center;
    color: var(--verde);
}

.rectangulo-nosotros-1{
    height: 35vh;
    width: calc(100% - 20px);
    background-color: var(--verde-oscuro-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.rectangulo-nosotros-1 > img{
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    padding: 40px;
}


.rectangulo-nosotros-1 > p{
    width: 70%;
    padding: 10px;
    font-family: "Open Sans";
    color: var(--verde-oscuro);
    font-size: clamp(0.9rem, 2vw, 1.4rem);
}

.row-2-nosotros{
    width: 100%;
    height: 50vh;
    background-color: var(--verde-oscuro-2);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.rectangulo-nosotros-2{
    height: 35vh;
    width: calc(100% - 20px);
    margin-right: 20px;
    background-color: var(--blanco);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.rectangulo-nosotros-2 > img{
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    padding: 40px;
}

.rectangulo-nosotros-2 > p{
    width: 70%;
    padding: 10px;
    font-family: "Open Sans";
    color: var(--verde-oscuro);
    font-size: clamp(0.8rem, 2vw, 1.4rem);
}

@media (max-width: 600px){

    #nosotros{
        height: 200vh;
    }

    .row-1-nosotros{
        height: 100vh;
    }

    .rectangulo-nosotros-1{
        flex-direction: column;
        height: 70vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .rectangulo-nosotros-1 > p{
        text-align: center;
        width: 90%;
    }

    .rectangulo-nosotros-1 > img{
    width: 40%;
    max-width: 300px;
    min-width: 120px;
    height: auto;
    padding: 10px;
    }

    .row-2-nosotros{
        height: 100vh;
    }

    .rectangulo-nosotros-2{
        flex-direction: column;
        height: 70vh;
        margin-top: auto;
        margin-bottom: auto;
    }

    .rectangulo-nosotros-2 > p{
        text-align: center;
        width: 90%;
    }

    .rectangulo-nosotros-2 > img{
        width: 40%;
        max-width: 300px;
        min-width: 120px;
        height: auto;
        padding: 10px;
    }    

    .texto-carrusel > p{
        padding-right: 10%;
    }
}

#compra-y-venta{
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/fonto-compra-y-venta.svg');
}

#compra-y-venta > h3{
    font-size: clamp(1rem, 4vw, 2.6rem);
    font-family: 'Montserrat';
    font-weight: 800;
    color: var(--blanco);
    text-align: center;
    padding: 20px;
}

#compra-y-venta > p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: var(--blanco);
    font-size: clamp(1rem, 2vw, 1.4rem);
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor-residuos{
    margin-top: calc(15vh - 40px - clamp(1rem, 4vw, 2.6rem));
    width: 100%;
    min-height: 70vh;
    position: relative;
    display: flex;
    gap: 1.6%;
    justify-content: center;
}

.contenedor-residuos > div{
    width: 14%;
    border-radius: 2%;
    position: relative;
    height: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.contenedor-residuos > div > h4{
    font-family: "Montserrat", sans-serif;
    color: var(--blanco);
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 8px;
    background-color: var(--verde);
    border-radius: 6%;
}

#residuo-chatarra{
    background-image: url('../img/chatarra.jpg');
    background-size: cover;
}

#residuo-aluminio{
    background-image: url('../img/aluminio.webp');
    background-size: cover;
}

#residuo-fierro{
    background-image: url('../img/fierro.jpg');
    background-size: cover;
}

#residuo-cobre{
    background-image: url('../img/cobre.jpg');
    background-size: cover;
}

#residuo-bronce{
    background-image: url('../img/bronce.jpg');
    background-size: cover;
}

#residuo-acero{
    background-image: url('../img/acero-inoxidable.jpeg');
    background-size: cover;
}

@media (max-width: 800px) {
    .contenedor-residuos{
        flex-direction: column;
        margin-top: calc(10vh - 40px - clamp(1rem, 4vw, 2.6rem));
        width: 100%;
        min-height: 75vh;
        position: relative;
        display: flex;
        gap: 1vh;
        align-items: center;
    }

    .contenedor-residuos > div{
        width: 80%;
        height: 10vh;
    }
}

#fletes{
    min-height: 100vh;
    background-image: url('../img/fondo-fletes.svg');
}

#fletes > h3{
    font-size: clamp(1rem, 4vw, 2.6rem);
    font-family: 'Montserrat';
    font-weight: 800;
    color: var(--verde);
    text-align: center;
    padding: 20px;
}

#fletes > p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: var(--verde);
    font-size: clamp(1rem, 2vw, 1.4rem);
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor-fletes{
    width: 100%;
    min-height: 80vh;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    
}

.camion-flete{
    width: 40%;
    min-height: 60vh;
    background: linear-gradient(to top, var(--verde-oscuro-2)20%, var(--blanco));
    box-shadow: 3px 3px 6px rgba(0, 0 , 0, 0.2  );
}

.camion-flete > img{
    width: 100%;
    padding: 20px;
    height: 400px;
}

.camion-flete > h4{
    font-family: 'Rubik', 'sans-serif';
    padding: 20px;
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    color: var(--blanco);
    font-weight: 700;
    display: inline-block;
    background-color: var(--verde);
    margin-bottom: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.camion-flete-spans{
    display: flex;
    justify-content: left;
    gap: 3%;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.camion-flete-spans > span{
    font-family: 'Rubik', 'sans-serif';
    background-color: var(--blanco);
    font-weight: 700;
    color: var(--verde);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0 , 0, 0.2);
}

.camion{
    width: 20%;
    height: 63vh;
    border: 2px solid black;
}

.camion > img{
    padding: 20px;
    width: 100%;
}

#arriendo-maquinaria{
    min-height: 100vh;
    background-image: url('../img/fondo-arriendo.svg');
}

#arriendo-maquinaria > h3{
    font-size: clamp(1rem, 4vw, 2.6rem);
    font-family: 'Montserrat';
    font-weight: 800;
    color: var(--verde);
    text-align: center;
    padding: 20px;
}

#arriendo-maquinaria > p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: var(--verde);
    font-size: clamp(1rem, 2vw, 1.4rem);
    padding-left: 20px;
    padding-right: 20px;
}

.container-carrusel-arriendo{
    min-height: 70vh;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 700px;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: var(--verde);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: var(--blanco);
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}
