{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComtyrSPA - Dale una nueva vida a tus excedentes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="index-carrusel">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo-comtyrSPA">
                <p>ComtyrSPA</p>
            </div>
            <h1>Compra y Venta de Residuos Industriales<br>Arriendo de Maquinaria y Fletes</h1>
            <ul>
                <li>Sobre Nosotros</li>
                <li>Compra y Venta</li>
                <li>Clientes</li>
                <li>Contacto</li>
                <li>Arriendo Maquinaria</li>
                <li></li>
            </ul>
        </nav>

        
        <div class="vista-carrusel">
            <h2>Compra y venta de residuos industriales</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem ratione esse voluptas dolores voluptate libero eius, nam quia, veniam quis, suscipit officia quaerat ad optio. Omnis delectus laboriosam accusamus quidem.</p>
            <img src="{% static 'img/collage.png' %}" alt="residuos-industriales"> 
        </div>
        <!-- <div class="vista-carrusel">
            <h2>Transporte de cargas de alto tonelaje</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium velit quos eius doloribus, eligendi, modi adipisci doloremque assumenda voluptatum odit aspernatur! Commodi dolor eius quaerat atque ducimus est dolorem veritatis.</p>
            <img src="{% static 'img/camion_pluma' %}" alt="camion-pluma"> 
        </div>
        <div class="vista-carrusel">
            <h2>Arriendo maquinaria</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, dicta similique exercitationem iste delectus placeat magnam asperiores ipsa, quaerat alias quidem, dolor earum in autem nihil nam velit dolores laboriosam!</p>
            <img src="{% static 'img/grua_horquilla' %}" alt="grua-horquilla">
        </div> -->
        
        
        
    </div>



    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>