{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComtyrSPA - Dale una nueva vida a tus excedentes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css">
    
</head>
<body>
    <div class="barra-informacion">
        <div class="marquee">
            <h1>Compra y Venta de Residuos Industriales | Arriendo de Maquinaria y Fletes | Dale una nueva vida a tus excedentes</h1>
        </div>
        <div class="informacion-contacto">
            <div class="contacto-info"><i class="bi bi-whatsapp "></i><b>Whatsapp: </b>+569 4409 3539</div>
            <div class="contacto-info"><i class="bi bi-instagram"></i><b>Instagram:</b>@comtyr.spa</div>
            <div class="contacto-info"><i class="bi bi-envelope"></i><b>Gmail:</b>comtyrspa@gmail.com | rodolfoarriagada.recicla@gmail.com</div>
        </div>
    </div>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <p class="primer-parrafo-logo">ComtyrSPA</p>
            <p class="segundo-parrafo-logo">Compañia de transporte y reciclaje</p>
        </div>
        <ul class="menu" id="lista-anchors">
            <li><a href="#nosotros">Sobre Nosotros</a></li>
            <li><a href="#compra-y-venta">Compra y Venta</a></li>
            <li><a href="#contacto-y-ubicacion">Contacto</a></li>
            <li><a href="#arriendo-maquinaria">Arriendo Maquinaria</a></li>
            <li><a href="#fletes">Fletes</a></li>
        </ul>
        <div class="menu-desplegable">
            <button id="boton-menu">Menú</button>
            <div class="acordeon-menu">
                <div><a href="#nosotros">Sobre Nosotros</a><img src="{% static 'img/logo.png' %}" alt=""></div>
                <div><a href="#compra-y-venta">Compra y Venta</a></div>
                <div><a href="#contacto-y-ubicacion">Contacto</a></div>
                <div><a href="#arriendo-maquinaria">Arriendo Maquinaria</a></div>
                <div><a href="#fletes">Fletes</a></div>
            </div>
        </div>

    </nav>
    <div class="index-carrusel">
        <div class="vista-carrusel">
            <div class="overlay"></div>
            <div class="texto-carrusel">
                <h2>Arriendo maquinaria</h2>
                <p>Ofrecemos arriendo de camiones pluma para izaje, montaje, movimientos de tierra y transporte de carga, incluyendo carga y descarga de contenedores.</p>
            </div>
            <img src="{% static 'img/camiones/camiones.jpg' %}" alt="grua-horquilla">
        </div>
        <div class="vista-carrusel">
            <div class="overlay"></div>
            <div class="texto-carrusel">
                <h2>Transporte de cargas de alto tonelaje</h2>
                <p>Transporte de carga en general, con capacidades que van desde 2 hasta 15 toneladas.</p>
            </div>
            <img src="{% static 'img/camiones/camion-plano.jpg' %}" alt="camion-pluma">
        </div>
        <div class="vista-carrusel">
            <div class="overlay"></div>
            <div class="texto-carrusel">
                <h2>Compra y venta de residuos industriales</h2>
                <p>Compramos y vendemos residuos industriales no peligrosos: chatarra, fierro, aluminio, cobre, bronce y acero inoxidable.</p>
            </div>
            <img src="{% static 'img/collage.png' %}" alt="residuos-industriales">
        </div>
    </div>

    <main>
        <section id="nosotros">
            <div class="row-1-nosotros">
                <h3>Nosotros</h3>
                <div class="rectangulo-nosotros-1">
                    <img src="{% static 'img/logo.png' %}" alt="logo-comtyr">
                    <p><b>ComtyrSPA</b> es una empresa comprometida con la gestión responsable de <em>residuos industriales</em>, el <em>arriendo de maquinaria</em> 
                        y la prestación de <em>servicios de fletes</em>. Nos dedicamos a ofrecer soluciones integrales que promueven el <b>reciclaje y el cuidado del medioambiente</b>, 
                        conscientes de la importancia de minimizar el impacto ambiental en todas nuestras operaciones. <br><br>Nuestro compromiso es brindar un servicio eficiente y confiable, 
                        alineado con prácticas sostenibles que contribuyen a un futuro más limpio y responsable 
                        para la comunidad.</p>
                </div>
            </div>
            <div class="row-2-nosotros">
                <div class="rectangulo-nosotros-2">
                    <p>En <b>ComtyrSPA</b> creemos que cuidar el medioambiente es tarea de todos. Por eso, más que una empresa, somos un equipo comprometido en dar una <b>segunda vida</b> a los <em>residuos industriales</em>, ofreciendo soluciones que combinan responsabilidad, confianza y experiencia. <br><br>Nos encanta trabajar de la mano con nuestros clientes, entendiendo sus necesidades y entregando un servicio que no solo cumple, sino que también aporta a un futuro más limpio y sostenible para nuestra comunidad.</p>
                    <img src="{% static 'img/reciclaje.png' %}" alt="reciclaje-img">
                </div>
            </div>
        </section>
        
        <section id="compra-y-venta">
            <h3>Compra y venta de residuos industriales</h3>
            <p>En Comtyr SPA nos especializamos en la compra y venta de residuos no peligrosos, incluyendo chatarra, fierros, aluminio, cobre, bronce y acero inoxidable.</p>
            <div class="contenedor-residuos">
                <div id="residuo-chatarra">
                    <h4>Chatarra</h4>
                </div>
                <div id="residuo-aluminio">
                    <h4>Aluminio</h4>
                </div>
                <div id="residuo-fierro">
                    <h4>Fierros</h4>
                </div>
                <div id="residuo-cobre">
                    <h4>Cobre</h4>
                </div>
                <div id="residuo-bronce">   
                    <h4>Bronce</h4>
                </div>
                <div id="residuo-acero">
                    <h4>Acero</h4>
                </div>
            </div>
        </section>
        <section id="fletes">
            <h3>Transporte de carga por carretera</h3>
            <p>En ComtyrSPA ofrecemos servicio de fletes con camiones pluma y camiones planos abiertos de distintas capacidades (2, 3, 5, 10 y 15 toneladas), ideales para transporte de carga en general tanto dentro como fuera de la zona. Contamos con operadores altamente capacitados y con certificaciones vigentes, garantizando un traslado seguro, eficiente y confiable para cada envío.</p>
            <div class="contenedor-fletes">
                <div class="camion-flete">
                    <img src="{% static 'img/camiones/camion-pluma.jpg' %}" alt="camion-pluma">                    
                    <div class="contenido-camion-flete">
                        <h4>Camion Pluma</h4>
                        <div class="camion-flete-spans">
                            <span>Carga y descargas de contenedores maritimos</span><span>Isaje</span><span>Montaje</span><span>Dentro y fuera de la zona</span>
                        </div>
                    </div>
                </div>

                <div class="camion-flete">
                    <img src="{% static 'img/camiones/camion-plano-2.jpg' %}" alt="camion-plano-abierto">
                    <div class="contenido-camion-flete">
                        <h4>Camion Plano</h4>
                        <div class="camion-flete-spans">
                            <span>2 toneladas</span><span>3 toneladas</span><span>5 toneladas</span><span>10 toneladas</span><span>15 toneladas</span><span>Dentro y fuera de la zona</span><span>Para carga en general</span>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <section id="arriendo-maquinaria">
            <h3>Arriendo de maquinaria</h3>
            <p>En Comtyr SPA contamos con soluciones de arriendo de maquinaria para responder a diversas necesidades de carga y movimiento. Disponemos de camiones pluma, ideales para maniobras de izaje y para la carga y descarga de contenedores marítimos, además de grúas horquilla en modalidad de arriendo, perfectas para optimizar tiempos y seguridad en faenas logísticas.</p>
            <div class="container-carrusel-arriendo">
                <div class="camion-pluma">
                    <div id="my-keen-slider" class="keen-slider">
                        <div class="keen-slider__slide"><img class="camion-arriendo" src="{% static 'img/camiones/camion-pluma.jpg' %}"alt=""></div>
                        <div class="keen-slider__slide"><img class="camion-arriendo" src="{% static 'img/camiones/camion-pluma-1.jpg' %}"alt=""></div>
                    </div>
                    <p id="parrafo-camion-pluma">Ofrecemos el servicio de arriendo de <b>camión pluma</b> por hora, ideal para maniobras de carga y descarga de materiales pesados en obras de construcción. Nuestro equipo de conductores capacitados asegura un transporte seguro y eficiente.</p>
                    <h4 class="camion-pluma-titulo ocultar">Camion Pluma</h4>
                </div>
                <div class="camion-pluma">
                    <div id="my-keen-slider-2" class="keen-slider">
                        <div class="keen-slider__slide"><img class="camion-arriendo" src="{% static 'img/camiones/camion-pluma.jpg' %}"alt=""></div>
                        <div class="keen-slider__slide"><img class="camion-arriendo" src="{% static 'img/camiones/camion-pluma-1.jpg' %}"alt=""></div>
                    </div>
                    <p id="parrafo-grua-horquilla">Ofrecemos arriendo de <b>grúa horquilla</b> para la manipulación y transporte seguro de cargas dentro de bodegas, naves industriales y obras de construcción. Nuestras grúas horquilla están en óptimas condiciones, garantizando eficiencia y seguridad en cada operación.</p>
                    <h4 class="grua-horquilla-titulo ocultar">Grúa Horquilla</h4>
                </div>
                <div style="width: 100%; height: 1px;"></div>
            </div>
        </section>
        <section id="contacto-y-ubicacion">
            <div class="contenedor-contacto-ubicacion">
                <div class="row-contacto">
                    <h3>CONTACTO</h3>
                    <div class="iconos-contacto">
                        <a href="https://wa.me/56944093539?text=Hola%20quisiera%20más%20información" target="_blank"><i class="bi bi-whatsapp "></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-envelope-paper"></i></a>
                    </div>
                </div>
                <div class="row-ubicacion">
                    <div class="row-ubicacion-inner">
                        <div class="row-ubicacion-front">

                        </div>
                        <div class="row-ubicacion-back">
                            <h3>UBICACIÓN OFICINA</h3>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.306968596343!2d-71.55445499999999!3d-33.022042299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689dde18029f4cb%3A0x5942e70980204614!2sCentro%20de%20Negocios%20Vi%C3%B1a!5e0!3m2!1ses-419!2scl!4v1755811433458!5m2!1ses-419!2scl"></iframe>   
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-contenedor">
            <!-- Columna 1: Logo o nombre -->
            <div class="footer-col">
                <div class="titulo-empresa-footer"><h2>ComtyrSPA</h2><img src="{% static 'img/logo.png' %}" alt="logo-comtyr-spa" class="logo-footer"></div>
                <p>Dale una nueva vida a tus excedentes.</p>
            </div>
    
            <!-- Columna 2: Navegación -->
            <div class="footer-col">
                <h3>Enlaces</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Arriendo Maquinaria</a></li>
                    <li><a href="">Transporte de carga</a></li>
                    <li><a href="">Compra y venta</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
    
            <!-- Columna 3: Contacto -->
            <div class="footer-col">
                <h3>Contacto</h3>
                <p>📍 Santiago, Chile</p>
                <p>📞 +56 9 1234 5678</p>
                <p>✉ contacto@miempresa.cl</p>
            </div>
    
            <!-- Columna 4: Redes sociales -->
            <div class="footer-col redes">
                <h3>Síguenos</h3>
                <a href="https://wa.me/56944093539?text=Hola%20quisiera%20más%20información" target="_blank">Whatsapp</a>
                <a href="#">Instagram</a>
                <a href="#">Gmail</a>
            </div>
        </div>
    
        <div class="footer-copy">
            <p>© 2025 ComtyrSPA. Todos los derechos reservados.</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>