{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComtyrSPA - Dale una nueva vida a tus excedentes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="barra-informacion">
        <h1>Compra y Venta de Residuos Industriales | Arriendo de Maquinaria y Fletes</h1>
        <div class="informacion-contacto">
            <div class="contacto-info"><i class="bi bi-whatsapp "></i><b>Whatsapp: </b>+569 4409 3539</div>
            <div class="contacto-info"><i class="bi bi-instagram"></i><b>Instagram:</b>@comtyr.spa</div>
            <div class="contacto-info"><i class="bi bi-envelope"></i><b>Gmail:</b>comtyrspa@gmail.com | rodolfoarriagada.recicla@gmail.com</div>
        </div>
    </div>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <p class="primer-parrafo-logo">ComtyrSPA</p>
            <p class="segundo-parrafo-logo">Compañia de transporte y reciclaje</p>
        </div>
        <ul class="menu" id="lista-anchors">
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Compra y Venta</a></li>
            <li><a href="">Clientes</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Arriendo Maquinaria</a></li>
            <li><a href="">Fletes</a></li>
        </ul>
        <div class="menu-desplegable">
            <button id="boton-menu">Menú</button>
            <div class="acordeon-menu">
                <div><a href="">Sobre Nosotros</a><img src="{% static 'img/logo.png' " %}" alt=""></div>
                <div><a href="">Compra y Venta</a><i class="bi bi-cart3"></i></div>
                <div><a href="">Clientes</a><i class="bi bi-buildings"></i></div>
                <div><a href="">Contacto</a><i class="bi bi-chat"></i></div>
                <div><a href="">Arriendo Maquinaria</a><i class="bi bi-clipboard"></i></div>
                <div><a href="">Fletes</a><i class="bi bi-truck-flatbed"></i></div>
            </div>
        </div>

    </nav>
    <div class="index-carrusel">
        <div class="vista-carrusel">
            <div class="overlay"></div>
            <div class="texto-carrusel">
                <h2>Compra y venta de residuos industriales</h2>
                <p>Compramos y vendemos residuos industriales no peligrosos: chatarra, fierro, aluminio, cobre, bronce y acero inoxidable. Retiramos el material, lo valorizamos y lo reincorporamos al ciclo productivo, impulsando el reciclaje.</p>
            </div>
            <img src="{% static 'img/collage.png' %}" alt="residuos-industriales">
        </div>
        <div class="vista-carrusel">
            <div class="overlay"></div>
            <div class="texto-carrusel">
                <h2>Transporte de cargas de alto tonelaje</h2>
                <p>Transporte de carga en general, con capacidades que van desde 2 hasta 15 toneladas (2, 3, 5, 10 y 15 toneladas). Realizamos fletes tanto dentro como fuera de la zona, garantizando un servicio seguro y eficiente para todo tipo de mercancías que requieran este tipo de transporte.</p>
            </div>
            <img src="{% static 'img/camion_pluma.png' %}" alt="camion-pluma">
        </div>
        <div class="vista-carrusel">
            <div class="overlay"></div>
            <div class="texto-carrusel">
                <h2>Arriendo maquinaria</h2>
                <p>Ofrecemos arriendo de camiones pluma para izaje, montaje, movimientos de tierra y transporte de carga, incluyendo carga y descarga de contenedores. También disponemos de grúas horquilla, asegurando un servicio eficiente y seguro.</p>
            </div>
            <img src="{% static 'img/grua_horquilla.jfif' %}" alt="grua-horquilla">
        </div>
    </div>
    <main>




        <section id="nosotros">
            <div class="row-1-nosotros">
                <h3>Nosotros</h3>
                <div class="rectangulo-nosotros-1">
                    <img src="{% static 'img/logo.png' %}" alt="">
                    <p><b>ComtyrSPA</b> es una empresa comprometida con la gestión responsable de <em>residuos industriales</em>, el <em>arriendo de maquinaria</em> 
                        y la prestación de <em>servicios de fletes</em>. Nos dedicamos a ofrecer soluciones integrales que promueven el <b>reciclaje y el cuidado del medioambiente</b>, 
                        conscientes de la importancia de minimizar el impacto ambiental en todas nuestras operaciones. <br><br>Nuestro compromiso es brindar un servicio eficiente y confiable, 
                        alineado con prácticas sostenibles que contribuyen a un futuro más limpio y responsable 
                        para la industria y la comunidad.</p>
                </div>
            </div>


            <div class="row-2-nosotros">

            </div>
        </section>






        <section id="compra-y-venta">

        </section>
        <section id="fletes">

        </section>
        <section id="arriendo-maquinaria">

        </section>
        <section id="contacto-y-fletes">

        </section>


    </main>






    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>